<?xml version="1.0" encoding="UTF-8"?>
<!-- board_mapper.xml : 게시판관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
1.parameterType에 1개의 Type만 올 수 있다.
2.parameterType에 bean인 경우 #{필드명}
3.parameterType에 Map<key, value>타입인 경우 #{key}로 쓴다.
4.resultType도 1개만 올 수 있는데 selectType인 경우 List로 반환된다.
 -->

<mapper namespace="Image"> 
	<select id="imageselect" resultType="Image" parameterType="Integer">
   		SELECT BF_SYSNAME FROM BF
   </select>
</mapper>