<?xml version="1.0" encoding="UTF-8"?>
<!-- photel_mapper.xml : 회원관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photel">
	<select id="selectPart" parameterType="String" resultType="String">
	   	   SELECT M_PART FROM M WHERE M_ID=#{id} 
	</select>
	<select id="getHotelProdList" parameterType="String" resultType="photel">
	   	   SELECT * FROM HT WHERE HT_MID=#{id} 
	</select>
	<update id="BestUpdateH" parameterType="String">
		UPDATE HT
		SET HT_BEST = 1
		WHERE HT_MID = #{ht_mid}
	</update>
	<insert id="insertWrite" parameterType="photel">
		INSERT INTO HT
		VALUES(HT_SEQ.NEXTVAL, #{ht_mid}, #{ht_krname}, #{ht_egname}, #{ht_nation}, #{ht_city}, #{ht_msphone}, #{ht_addr}, default)
	</insert>
	<select id="hotelNum" parameterType="String" resultType="String">
	   	   SELECT HT_NUM FROM HT WHERE HT_MID=#{id} 
	</select>
	<insert id="fileInsert" parameterType="image">
		INSERT INTO PI
		VALUES(#{pi_sysname,jdbcType=VARCHAR}, #{pi_oriname,jdbcType=VARCHAR}, #{pi_num,jdbcType=VARCHAR}, #{pi_path,jdbcType=VARCHAR}, #{pi_detail,jdbcType=VARCHAR})
	</insert>
	<select id="selectUpFrm" parameterType="String" resultType="photel">
	   	   SELECT * FROM HT WHERE HT_NUM=#{hnum}
	</select>
	<insert id="insertRoom" parameterType="photel">
		INSERT INTO HTR
		VALUES(#{htr_rnum}, #{ht_mid}, #{htr_name}, #{htr_price}, #{htr_pnum})
	</insert>
</mapper>