<?xml version="1.0" encoding="UTF-8"?>
<!-- photel_mapper.xml : 회원관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photel">
	<select id="selectPart" parameterType="String" resultType="String">
	   	   SELECT M_PART FROM M WHERE M_ID=#{id} 
	</select>
	<select id="getHotelProdList" parameterType="String" resultType="photel">
	   	   SELECT * FROM HT WHERE HT_MID=#{id} 
	</select>
	<select id="selectProdH" parameterType="String" resultType="photel">
	   	   SELECT HT_NUM, HT_MID FROM HT WHERE HT_MID=#{id} 
	</select>
	<update id="BestUpdateH" parameterType="String">
		UPDATE HT
		SET HT_BEST = 1
		WHERE HT_MID = #{id}
	</update>
	<update id="relUpdateH" parameterType="String">
		UPDATE HT
		SET HT_BEST = 0
		WHERE HT_MID = #{id}
	</update>
	<insert id="insertWrite" parameterType="photel">
		INSERT INTO HOTEL
		VALUES(HT_SEQ.NEXTVAL, #{ht_mid}, #{ht_krname}, #{ht_egname}, #{ht_nation}, #{ht_city}, #{ht_msphone}, #{ht_addr}, default)
	</insert>
	<select id="hotelNum" parameterType="String" resultType="String">
	   	   SELECT HT_NUM FROM HT WHERE HT_MID=#{id} 
	</select>
	<insert id="fileInsert" parameterType="image">
		INSERT INTO PI
		VALUES(#{pi_sysname,jdbcType=VARCHAR}, #{pi_oriname,jdbcType=VARCHAR}, #{pi_num,jdbcType=VARCHAR}, #{pi_path,jdbcType=VARCHAR}, #{pi_detail,jdbcType=VARCHAR}, #{pi_part,jdbcType=VARCHAR})
	</insert>
	<select id="selectUpFrm" parameterType="String" resultType="photel">
	   	   SELECT * FROM HT WHERE HT_NUM=#{pnum}
	</select>
	<update id="updateText" parameterType="String">
		UPDATE HT
		SET HT_KRNAME=#{ht_krname}, HT_EGNAME=#{ht_egname}, HT_MSPHONE=#{ht_msphone}, HT_ADDR=#{ht_addr}
		WHERE HT_MID=#{ht_mid}
	</update>
	<delete id="deleteHotel" parameterType="String">
		DELETE FROM HT WHERE
		HT_HTMID=#{id}
	</delete>
	<delete id="deleteProd" parameterType="String">
		DELETE FROM HT WHERE
		HT_HTMID=#{id}
	</delete>
	<select id="getphotel" parameterType="String" resultType="photel">
	   	   SELECT * FROM HT WHERE HT_MID=#{id} 
	</select>
	<select id="selectBest" parameterType="String" resultType="String">
	   	   SELECT HT_BEST FROM HT WHERE HT_MID=#{id} 
	</select>
	<select id="hotelbestnum" resultType="photel">
            SELECT HT_NUM FROM HT WHERE HT_BEST=1
   	</select>
	<select id="hotelbest" parameterType="String" resultType="photel">
            SELECT * FROM HT WHERE HT_NUM=#{arr}
   	</select>
	<select id="hotelbestimg" parameterType="String" resultType="image">
            SELECT * FROM PI WHERE PI_NUM=#{arr} AND PI_PART='main'
   	</select>
</mapper>