<?xml version="1.0" encoding="UTF-8"?>
<!-- pticket_mapper.xml : 회원관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pticket">
	<select id="getTicketProdList" parameterType="String" resultType="pticket">
	   	   SELECT * FROM T WHERE T_MID=#{id} 
	</select>
	<select id="selectProdT" parameterType="String" resultType="pticket">
	   	   SELECT T_NUM, T_MID FROM T WHERE T_MID=#{id} 
	</select>
	<update id="BestUpdateT" parameterType="String">
		UPDATE T
		SET T_BEST = 1
		WHERE T_NUM = #{num}
	</update>
	<update id="relUpdateT" parameterType="String">
		UPDATE T
		SET T_BEST = 0
		WHERE T_NUM = #{num}
	</update>
	<select id="getpticket" parameterType="String" resultType="pticket">
	   	   SELECT * FROM T WHERE T_MID=#{id} 
	</select>
	<select id="selectBest" parameterType="String" resultType="String">
	   	   SELECT T_BEST FROM T WHERE T_MID=#{id} 
	</select>
	<select id="ticketbestnum" resultType="pticket">
            SELECT T_NUM FROM T WHERE T_BEST=1
   	</select>
	<select id="ticketbest" parameterType="String" resultType="pticket">
            SELECT * FROM T WHERE T_NUM=#{arr}
   	</select>
	<select id="ticketbestimg" parameterType="String" resultType="image">
            SELECT * FROM PI WHERE PI_NUM=#{arr} AND PI_PART='main'
   	</select>
</mapper>