<?xml version="1.0" encoding="UTF-8"?>
<!-- rhotel_mapper.xml : 호텔예약관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rhotel">
	<select id="checkLeftRoom" parameterType="RoomView">
	<![CDATA[
		SELECT * FROM HTR WHERE HTR_NAME NOT IN(SELECT RH_HTKRNAME FROM RH WHERE ((RH_CHECKOUT > #{checkIn} and RH_CHECKIN < #{checkOut}) or (RH_CHECKOUT >= #{checkOut} and RH_CHECKIN < #{checkIn}) or (RH_CHECKIN>#{checkIn} and RH_CHECKOUT < #{checkOut}))and RH_STATE=0) and HTR_PNUM >= #{htr_pnum}";
	]]>
	</select>
	<insert id="reserveTheRoom" parameterType="ReserveHotel">
		INSERT INTO RH VALAUES('RH'||RH_NUM_SEQ.NEXTVAL,#{rh_htmid},#{rh_mid}, #{rh_checkin}, #{rh_checkout},#{rh_htkrname},#{rh_htegname},#{rh_htrname},#{rh_rnum},#{rh_price},1)
	</insert>
	<select id="selectedRoom" parameterType="String">
		SELECT * FROM RH WHERE RH_MID = #{id}
	</select>
</mapper>
