<?xml version="1.0" encoding="UTF-8"?>
<!-- rhotel_mapper.xml : 호텔예약관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rhotel">
	<select id="checkLeftRoom" parameterType="rhotel" resultType="proom">
	<![CDATA[
		SELECT * FROM HTR WHERE HTR_RNUM NOT IN(SELECT RH_HTRNUM FROM RH WHERE ((RH_CHECKOUT > #{rh_checkin} and RH_CHECKIN < #{rh_checkout}) or (RH_CHECKOUT >= #{rh_checkout} and RH_CHECKIN < #{rh_checkin}) or (RH_CHECKIN>#{rh_checkin} and RH_CHECKOUT < #{rh_checkout}))and RH_STATE=1 and RH_HTKRNAME = #{rh_htkrname}) and HTR_PNUM >= #{htr_pnum}
	]]>
	</select>
	<insert id="reserveTheRoom" parameterType="rhotel">
		INSERT INTO RH VALAUES('RH'||RH_NUM_SEQ.NEXTVAL,#{rh_htmid},#{rh_mid}, #{rh_checkin}, #{rh_checkout},#{rh_htkrname},#{rh_htegname},#{rh_htrname},#{rh_rnum},#{rh_price},1)
	</insert>
	<select id="selectedRoom" parameterType="String">
		SELECT * FROM RH WHERE RH_MID = #{id}
	</select>
	<select id="gethtkrname" parameterType="String" resultType="String">
		SELECT HT_KRNAME FROM HT WHERE HT_MID = #{htmid}
	</select>
	<select id="gethtegname" parameterType="String" resultType="String">
		SELECT HT_EGNAME FROM HT WHERE HT_MID = #{htmid}
	</select>
	<!-- rh_htkrname -->
</mapper>
