<?xml version="1.0" encoding="UTF-8"?>
<!-- rticket_mapper.xml : 티켓예약관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rticket">
	<select id="getTicketReserveList" parameterType="String" resultType="pticket">
	   	   SELECT * FROM RT WHERE M_ID=#{id} 
	</select>
	<select id="countRtnum" resultType="pticket">
		SELECT COUNT(*) FROM RT 
	</select>
	<select id="maxRtnum" resultType="pticket">
   		SELECT MAX(RT_NUM) FROM RT
	</select>
	<insert id="insertPayTicket" parameterType="ReserveTicket">
		INSERT INTO RT VALUES(#{rt_num}, #{rt_tnum}, #{rt_mnid}, #{rt_qty}, default, #{rt_total_price)
	</insert>
</mapper>