<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rview">
	<select id="checkLeftRoom" parameterType="RoomView">
		SELECT HTR_NAME, HTR_PNUM, HTR_PRICE FROM RVIEW WHERE HT_KRNAME = #{ht_krname}
	</select>
</mapper>