<?xml version="1.0" encoding="UTF-8"?>
<!-- Mybatis 공동적인 환경 설정 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<settings> 
		<setting name="cacheEnabled" value="false"/> 
		<setting name="useGeneratedKeys" value="true"/> 
		<setting name="defaultExecutorType" value="REUSE"/> 
	</settings> 
	<typeAliases> <!-- 사용할 빈을 Alias로 등록하여 사용 -->
		<!-- <typeAlias alias="image" type="com.TM.LTE.bean.Image"/> -->
		<typeAlias alias="member" type="com.TM.LTE.bean.Member"/>
		
		<!-- <typeAlias alias="bb" type="com.TM.LTE.bean.BuyerBlack"/> --> 
		<!-- <typeAlias alias="passenger" type="com.TM.LTE.bean.Passenger"/>  -->
		<!-- <typeAlias alias="pair" type="com.TM.LTE.bean.ProdAir"/> -->
		<typeAlias alias="photel" type="com.TM.LTE.bean.ProdHotel"/>
		<typeAlias alias="pticket" type="com.TM.LTE.bean.ProdTicket"/>
		<typeAlias alias="proom" type="com.TM.LTE.bean.ProdRoom"/>
		<!-- <typeAlias alias="rair" type="com.TM.LTE.bean.ReserveAir"/>   -->
		<typeAlias alias="rhotel" type="com.TM.LTE.bean.ReserveHotel"/> 
		<typeAlias alias="rticket" type="com.TM.LTE.bean.ReserveTicket"/> 
		<typeAlias alias="image" type="com.TM.LTE.bean.Image"/> 
		<typeAlias alias="search" type="com.TM.LTE.bean.SearchImage"/> 
	</typeAliases>	
</configuration>